body {
    background-color: #e3d9ca;
    color: #403f48;
    font-family: 'Times New Roman', Times, serif;
}
a {
    color: #9c5b05;
}
h1, h2 {
    color: #2e4404;
}
nav {
    background-color: #a6b4a4;
    padding: 10px;
    margin-bottom: 30px;
}
nav a{
    color: #470f4e;
}
nav a:hover{
    color: #c71dd6;
}
.quote {
    float: right
}
div {margin: 20px}
.address {
    float: left; 
}
.box2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.clear {clear: both;}

.box1, .box2 {
    background-color: #ffebcd;
    border-radius: 1em;
}
.contactlinks {padding-top: 20px;}

.home-banner {
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    nav a {display: block; width: 100%; margin-top: 10px; margin-bottom: 10px;}
    span {display: none;}
    .map {margin: 10px;}
}
#skip-to-content {
    position: absolute; 
    left: -999px;  /* positions skip to content off screen */
    background-color: white;
    border: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }
#skip-to-content:focus {position: absolute; left: 10px;}