body {
    font-family: 'Times New Roman', Times, serif;
}

h1, h2 {
    color: midnightblue
}

.evenrow {
    background-color: lightsteelblue
}
h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}